# Import & Clean Data

In [1]:
import pandas as pd

In [2]:
# create dictionary of state abbreviations to map later
states = {1:'AL',2:'AK',3:'AZ',4:'AR',5:'CA',6:'CO',7:'CT',8:'DE',9:'DC',10:'FL',
11:'GA',12:'HI',13:'ID',14:'IL',15:'IN',16:'IA',17:'KS',18:'KY',19:'LA',
20:'ME',21:'MD',22:'MA',23:'MI',24:'MN',25:'MS',26:'MO',27:'MT',28:'NE',29:'NV',
30:'NH',31:'NJ',32:'NM',33:'NY',34:'NC',35:'ND',36:'OH',37:'OK',38:'OR',39:'PA',
41:'SC',42:'SD',43:'TN',44:'TX',45:'UT',47:'VA',48:'WA',49:'WV',50:'WI',51:'WY',
99:'Blank'}

## 2008

In [3]:
# import 2008 csv and convert to df
data08_csv = "data/2008.csv"
data08 = pd.read_csv(data08_csv, encoding="utf-8", low_memory=False)

In [4]:
# pull only desired columns from df
data08 = data08[['STATE','COUNTY','FACLNAME','CONFPOP','ADMALE','ADFEML',
                   'JUVMALE','JUVFEML','WHITE','BLACK',
                   'HISP','AMINDALK','ASIAN','HAWPAC','TWORACE','OTRACE']]

In [5]:
# add year column to df
data08['YEAR'] = '2008'

# map state abbreviations to state number provided in data
data08['STATE'] = data08['STATE'].map(states)

In [6]:
# rename columns for consistency
data08 = data08.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'FACLNAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADMALE' : 'adult_male', 'ADFEML' : 'adult_female', 'JUVMALE' : 'juvenile_male',
                         'JUVFEML' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AMINDALK' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'HAWPAC' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTRACE' : 'other_population', 'YEAR' : 'year'
}) 
data08.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,ID,ADA COUNTY,ADA COUNTY,1001,837,158,6,0,893,34,56,11,7,0,0,0,2008
1,OK,ADAIR COUNTY,ADAIR COUNTY JAIL,96,80,15,0,1,48,13,6,29,0,0,0,0,2008
2,CO,ADAMS COUNTY,ADAMS COUNTY DETENTION FACILITY,1258,1092,158,8,0,0,136,0,1,14,0,0,1107,2008
3,ND,ADAMS COUNTY,ADAMS COUNTY JAIL,3,3,0,0,0,3,0,0,0,0,0,0,0,2008
4,MN,AITKIN COUNTY,AITKIN COUNTY JAIL,42,31,11,0,0,35,0,2,5,0,0,0,0,2008

## 2009

In [7]:
# import 2009 csv and convert to df
data09_csv = "data/2009.csv"
data09 = pd.read_csv(data09_csv, encoding="utf-8", low_memory=False)

In [8]:
# pull only desired columns from df
data09 = data09[['STATE','COUNTY','FACLNAME','CONFPOP','ADMALE','ADFEML',
                   'JUVMALE','JUVFEML','WHITE','BLACK',
                   'HISP','AMINDALK','ASIAN','HAWPAC','TWORACE','OTRACE']]

In [9]:
# add year column to df
data09['YEAR'] = '2009'

# map state abbreviation to state number provided in data
data09['STATE'] = data09['STATE'].map(states)

In [10]:
# rename columns for consistency
data09 = data09.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'FACLNAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADMALE' : 'adult_male', 'ADFEML' : 'adult_female', 'JUVMALE' : 'juvenile_male',
                         'JUVFEML' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AMINDALK' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'HAWPAC' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTRACE' : 'other_population', 'YEAR' : 'year'
}) 
data09.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,AL,CALHOUN COUNTY,CALHOUN COUNTY JAIL,428,338,68,22,0,234,194,0,0,0,0,0,0,2009
1,AL,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,85,72,13,0,0,65,15,5,0,0,0,0,0,2009
2,AL,CHILTON COUNTY,CHILTON COUNTY JAIL,176,155,21,0,0,132,33,11,0,0,0,0,0,2009
3,AL,CLARKE COUNTY,CLARKE COUNTY JAIL,97,83,14,0,0,20,77,0,0,0,0,0,0,2009
4,AL,COFFEE COUNTY,COFFEE COUNTY JAIL,136,118,18,0,0,60,63,13,0,0,0,0,0,2009

## 2010

In [11]:
# imort 2010 csv and convert to df
data10_csv = "data/2010.csv"
data10 = pd.read_csv(data10_csv, encoding="utf-8", low_memory=False)

In [12]:
# pull only desired columns to df
data10 = data10[['state','county','faclname','confpop','adultm','adultf',
'juvm','juvf','white','black',
'hisp','AIAN','asian','nhopi','tworace','otherrace']]

In [13]:
# add year column to df
data10['YEAR'] = '2010'

# map state abbreviations to state number provided in data
data10['state'] = data10['state'].map(states)

In [14]:
# rename columns for consistency
data10 = data10.rename(columns = {'faclname' : 'facility_name', 'confpop' : 'confined_population', 
                         'adultm' : 'adult_male', 'adultf' : 'adult_female', 'juvm' : 'juvenile_male',
                         'juvf' : 'juvenile_female', 'white' : 'white_population', 'black' : 'black_population', 
                         'hisp' : 'hispanic_population', 'AIAN' : 'native_american_population', 'asian' : 'asian_population',
                         'nhopi' : 'native_hawaiian_pacific_islander_population',
                         'tworace': 'two_or_more_race_population', 'otherrace' : 'other_population', 'YEAR' : 'year'
}) 
data10.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,AL,CALHOUN COUNTY,CALHOUN COUNTY JAIL,469,405,62,2,0,272,182,15,0,0,0,0,0,2010
1,AL,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,85,70,15,0,0,60,15,10,0,0,0,0,0,2010
2,AL,CHILTON COUNTY,CHILTON COUNTY JAIL,186,155,31,0,0,118,55,11,0,0,0,2,0,2010
3,AL,CLARKE COUNTY,CLARKE COUNTY JAIL,106,95,10,1,0,37,69,0,0,0,0,0,0,2010
4,AL,COFFEE COUNTY,COFFEE COUNTY JAIL,151,126,24,1,0,59,71,19,1,1,0,0,0,2010

## 2011

In [15]:
# import 2011 csv and convert to df
data11_csv = "data/2011.csv"
data11 = pd.read_csv(data11_csv, encoding="utf-8", low_memory=False)

In [16]:
# pull only desired columns from df
data11 = data11[['state','county','faclname','confpop','adultm','adultf',
'juvm','juvf','white','black','hisp','AIAN','asian','nhopi','tworace','otherrace']]

In [17]:
# add year column to df
data11['YEAR'] = '2011'

# map state abbreviations to state number provided in data
data11['state'] = data11['state'].map(states)

In [18]:
# rename columns for consistency
data11 = data11.rename(columns = {'state' : 'state', 'county':'county', 'faclname' : 'facility_name', 'confpop' : 'confined_population', 
                         'adultm' : 'adult_male', 'adultf' : 'adult_female', 'juvm' : 'juvenile_male',
                         'juvf' : 'juvenile_female', 'white' : 'white_population', 'black' : 'black_population', 
                         'hisp' : 'hispanic_population', 'AIAN' : 'native_american_population', 'asian' : 'asian_population',
                         'nhopi' : 'native_hawaiian_pacific_islander_population',
                         'tworace': 'two_or_more_race_population', 'otherrace' : 'other_population', 'YEAR' : 'year'
})
data11.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,AL,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,121,101,20,0,0,102,14,5,0,0,0,0,0,2011
1,AL,CHILTON COUNTY,CHILTON COUNTY JAIL,248,192,56,0,0,171,51,26,0,0,0,0,0,2011
2,AL,CLARKE COUNTY,CLARKE COUNTY JAIL,128,116,10,2,0,57,69,2,0,0,0,0,0,2011
3,AL,COFFEE COUNTY,COFFEE COUNTY JAIL,108,102,6,0,0,38,62,7,1,0,0,0,0,2011
4,AL,COOSA COUNTY,COOSA COUNTY JAIL,52,45,6,1,0,32,17,3,0,0,0,0,0,2011

## 2012

In [19]:
# import 2012 csv and convert to df
data12_csv = "data/2012.csv"
data12 = pd.read_csv(data12_csv, encoding="utf-8", low_memory=False)

In [20]:
# pull only desired columns from df
data12 = data12[['state','county','faclname','confpop','adultm','adultf','juvm','juvf','white','black',
'hisp','AIAN','asian','nhopi','tworace','otherrace']]

In [21]:
# add year column to df
data12['YEAR'] = '2012'

# map state abbreviations to state number provided in data
data12['state'] = data12['state'].map(states)

In [22]:
# rename columns for consistency
data12 = data12.rename(columns = {'state' : 'state', 'county':'county', 'faclname' : 'facility_name', 'confpop' : 'confined_population', 
                         'adultm' : 'adult_male', 'adultf' : 'adult_female', 'juvm' : 'juvenile_male',
                         'juvf' : 'juvenile_female', 'white' : 'white_population', 'black' : 'black_population', 
                         'hisp' : 'hispanic_population', 'AIAN' : 'native_american_population', 'asian' : 'asian_population',
                         'nhopi' : 'native_hawaiian_pacific_islander_population',
                         'tworace': 'two_or_more_race_population', 'otherrace' : 'other_population', 'YEAR' : 'year'
}) 
data12.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,AL,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,142,114,28,0,0,129,11,2,0,0,0,0,0,2012
1,AL,CHILTON COUNTY,CHILTON COUNTY JAIL,256,200,56,0,0,193,55,7,0,1,0,0,0,2012
2,AL,CLARKE COUNTY,CLARKE COUNTY JAIL,176,155,18,3,0,66,107,3,0,0,0,0,0,2012
3,AL,COFFEE COUNTY,COFFEE COUNTY JAIL,130,122,8,0,0,35,93,1,1,0,0,0,0,2012
4,AL,COOSA COUNTY,COOSA COUNTY JAIL,48,42,6,0,0,32,15,0,0,0,0,1,0,2012

## 2013

In [23]:
# import 2013 csv and convert to df
data13_csv = "data/2013.csv"
data13 = pd.read_csv(data13_csv, encoding="utf-8", low_memory=False)

In [24]:
# pull only desired columns from df
data13 = data13[['STATE','COUNTY','FACLNAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE']]

In [25]:
# add year column to df
data13['YEAR'] = '2013'

In [26]:
# rename columns for consistency
data13 = data13.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'FACLNAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
}) 
data13.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,CA,LOS ANGELES COUNTY,LOS ANGELES COUNTY - CUSTODY SUPPORT SERVS,18433,15930,2503,0,0,3316,5910,8754,7,65,22,0,359,2013
1,WI,MILWAUKEE COUNTY,MILWAUKEE COUNTY CORRECTIONAL FAC SOUTH,1571,1435,136,0,0,448,1033,76,5,0,9,0,0,2013
2,NY,NEW YORK CITY,NEW YORK CITY,11518,10459,783,262,14,866,6301,3939,10,142,0,0,255,2013
3,IL,COOK COUNTY,COOK COUNTY JAILS - DEPT OF CORRS,10428,9458,878,89,3,1039,7694,1601,11,52,0,31,0,2013
4,TX,HARRIS COUNTY,HARRIS COUNTY,9297,8001,1171,113,12,4480,4690,0,5,50,0,0,0,2013

## 2014

In [27]:
# import 214 csv and convert to df
data14_csv = "data/2014.csv"
data14 = pd.read_csv(data14_csv, encoding="utf-8", low_memory=False)

In [28]:
# pull only desired columns from df
data14 = data14[['STATE','COUNTY','FACILITY','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE']]

In [29]:
# add year column to df
data14['YEAR'] = '2014'

In [30]:
# rename columns for consistency
data14 = data14.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'FACILITY' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
}) 
data14.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,AL,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,120,102,18,0,0,109,9,2,0,0,0,0,0,2014
1,AL,CHILTON COUNTY,CHILTON COUNTY JAIL,158,121,36,1,0,126,28,4,0,0,0,0,0,2014
2,AL,CLARKE COUNTY,CLARKE COUNTY JAIL,199,191,6,2,0,76,123,0,0,0,0,0,0,2014
3,AL,COFFEE COUNTY,COFFEE COUNTY JAIL,119,102,16,1,0,47,69,3,0,0,0,0,0,2014
4,AL,COOSA COUNTY,COOSA COUNTY JAIL,39,31,8,0,0,27,12,0,0,0,0,0,0,2014

## 2015

In [31]:
# import 2015 csv and convert to df
data15_csv = "data/2015.csv"
data15 = pd.read_csv(data15_csv, encoding="utf-8", low_memory=False)

In [32]:
# pull only desired columns from df
data15 = data15[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [33]:
# map state abbreviations to state number provided in data
data15['STATE'] = data15['STATE'].map(states)

In [34]:
# rename columns for consistency
data15 = data15.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
})
data15.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,AL,Baldwin County,Baldwin County Sheriff's Office,456,394,62,0,0,329,53,67,2,5,0,0,0,2015
1,AL,Bibb County,Bibb County Sheriffs Department,85,73,12,0,0,61,24,0,0,0,0,0,0,2015
2,AL,Cleburne County,Cleburne County Sheriffs Office,59,49,10,0,0,48,9,2,0,0,0,0,0,2015
3,AL,Cullman County,Cullman County Sheriffs Office,325,260,65,0,0,266,37,19,0,1,0,2,0,2015
4,AL,Etowah County,Etowah County Sheriffs Office,634,566,66,2,0,289,150,80,0,10,0,52,0,2015

## 2016

In [35]:
# import 2016 csv and convert to df
data16_csv = "data/2016.csv"
data16 = pd.read_csv(data16_csv, encoding="utf-8", low_memory=False)

In [36]:
# pull only desired columns from df
data16 = data16[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [37]:
# map state abbreviations to state number provided in data
data16['STATE'] = data16['STATE'].map(states)

In [38]:
# rename columns for consistency
data16 = data16.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'   
})
data16.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,AL,BALDWIN COUNTY,BALDWIN COUNTY SHERIFF'S OFFICE,466,382,80,4,0,311,133,20,0,2,0,0,0,2016
1,AL,BIBB COUNTY,BIBB COUNTY SHERIFFS DEPARTMENT,69,61,8,0,0,52,13,4,0,0,0,0,0,2016
2,AL,CLEBURNE COUNTY,CLEBURNE COUNTY SHERIFFS OFFICE,50,41,9,0,0,41,7,2,0,0,0,0,0,2016
3,AL,CULLMAN COUNTY,CULLMAN COUNTY SHERIFFS OFFICE,307,246,61,0,0,252,30,25,0,0,0,0,0,2016
4,AL,ETOWAH COUNTY,ETOWAH COUNTY SHERIFFS OFFICE,686,598,88,0,0,273,197,95,0,15,0,53,0,2016

## 2017

In [39]:
# import 2017 csv and convert to df
data17_csv = "data/2017.csv"
data17 = pd.read_csv(data17_csv, encoding="utf-8", low_memory=False)

In [40]:
# pull only desired columns from df
data17 = data17[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [41]:
# map state abbreviations to state number provided in data
data17['STATE'] = data17['STATE'].map(states)

In [42]:
# rename columns for consistency
data17 = data17.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
})
data17.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,AL,BALDWIN COUNTY,BALDWIN COUNTY SHERIFF'S OFFICE,533,441,92,0,0,351,143,31,0,8,0,0,0,2017
1,AL,BIBB COUNTY,BIBB COUNTY SHERIFFS DEPARTMENT,69,60,9,0,0,45,24,0,0,0,0,0,0,2017
2,AL,CLEBURNE COUNTY,CLEBURNE COUNTY SHERIFFS OFFICE,77,64,13,0,0,62,8,7,0,0,0,0,0,2017
3,AL,CULLMAN COUNTY,CULLMAN COUNTY SHERIFFS OFFICE,322,255,67,0,0,283,27,12,0,0,0,0,0,2017
4,AL,FAYETTE COUNTY,FAYETTE COUNTY SHERIFFS OFFICE,74,56,18,0,0,39,33,1,0,0,1,0,0,2017

## 2018

In [43]:
# import 2018 csv and convert to df
data18_csv = "data/2018.csv"
data18 = pd.read_csv(data18_csv, encoding="utf-8", low_memory=False)

In [44]:
# pull only desired columns from df
data18 = data18[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [45]:
# map state abbreviations to state number provided in data
data18['STATE'] = data18['STATE'].map(states)

In [46]:
# rename columns for consistency
data18 = data18.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
    
})
data18.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,AL,BALDWIN COUNTY,BALDWIN COUNTY SHERIFFS OFFICE,577,479,98,0,0,398,144,29,0,0,0,0,6,2018
1,AL,BIBB COUNTY,BIBB COUNTY SHERIFFS DEPARTMENT,83,68,15,0,0,64,18,1,0,0,0,0,0,2018
2,AL,CLEBURNE COUNTY,CLEBURNE COUNTY SHERIFFS OFFICE,64,56,8,0,0,55,7,2,0,0,0,0,0,2018
3,AL,CULLMAN COUNTY,CULLMAN COUNTY SHERIFFS OFFICE,350,284,66,0,0,294,31,20,0,0,0,3,2,2018
4,AL,ETOWAH COUNTY,ETOWAH COUNTY SHERIFFS OFFICE,924,788,132,4,0,452,267,110,0,20,0,40,20,2018

# Finalize Data & Upload

In [47]:
# combine all year data into one df
## create array of yearly df
data_all = [data08,data09,data10,data11,data12,data13,data14,data15,data16,data17,data18]

## concat all data in array to one df
prison_data_df = pd.concat(data_all)

In [48]:
# calculate % of confined popualtion for each demographic
prison_data_df['key'] = prison_data_df['facility_name'] + ' - ' + prison_data_df['year'].astype(str)
prison_data_df['pct_adult_male'] = prison_data_df['adult_male'] / prison_data_df['confined_population']
prison_data_df['pct_adult_female'] = prison_data_df['adult_female'] / prison_data_df['confined_population']
prison_data_df['pct_juvenile_male'] = prison_data_df['juvenile_male'] / prison_data_df['confined_population']
prison_data_df['pct_juvenile_female'] = prison_data_df['juvenile_female'] / prison_data_df['confined_population']
prison_data_df['pct_white'] = prison_data_df['white_population'] / prison_data_df['confined_population']
prison_data_df['pct_black'] = prison_data_df['black_population'] / prison_data_df['confined_population']
prison_data_df['pct_hispanic'] = prison_data_df['hispanic_population'] / prison_data_df['confined_population']
prison_data_df['pct_native_american'] = prison_data_df['native_american_population'] / prison_data_df['confined_population']
prison_data_df['pct_asian'] = prison_data_df['asian_population'] / prison_data_df['confined_population']
prison_data_df['pct_native_hawaiian_pacific_islander'] = prison_data_df['native_hawaiian_pacific_islander_population'] / prison_data_df['confined_population']
prison_data_df['pct_two_or_more_races'] = prison_data_df['two_or_more_race_population'] / prison_data_df['confined_population']
prison_data_df['pct_other'] = prison_data_df['other_population'] / prison_data_df['confined_population']

In [49]:
# reorganize column order
prison_data_df = prison_data_df[['key', 'year', 'state','county', 'facility_name', 'confined_population', 'adult_male', 'pct_adult_male',
                  'adult_female','pct_adult_female','juvenile_male', 'pct_juvenile_male','juvenile_female', 'pct_juvenile_female',
                  'white_population', 'pct_white', 'black_population', 'pct_black',
                  'hispanic_population', 'pct_hispanic', 'native_american_population', 'pct_native_american', 'asian_population','pct_asian',
                  'native_hawaiian_pacific_islander_population','pct_native_hawaiian_pacific_islander', 'two_or_more_race_population',
                  'pct_two_or_more_races', 'other_population','pct_other'
                 ]]

prison_data_df.head()

,key,year,state,county,facility_name,confined_population,adult_male,pct_adult_male,adult_female,pct_adult_female,...,native_american_population,pct_native_american,asian_population,pct_asian,native_hawaiian_pacific_islander_population,pct_native_hawaiian_pacific_islander,two_or_more_race_population,pct_two_or_more_races,other_population,pct_other
0,ADA COUNTY - 2008,2008,ID,ADA COUNTY,ADA COUNTY,1001,837,0.836164,158,0.157842,...,11,0.010989,7,0.006993,0,0.0,0,0.0,0,0.000000
1,ADAIR COUNTY JAIL - 2008,2008,OK,ADAIR COUNTY,ADAIR COUNTY JAIL,96,80,0.833333,15,0.156250,...,29,0.302083,0,0.000000,0,0.0,0,0.0,0,0.000000
2,ADAMS COUNTY DETENTION FACILITY - 2008,2008,CO,ADAMS COUNTY,ADAMS COUNTY DETENTION FACILITY,1258,1092,0.868045,158,0.125596,...,1,0.000795,14,0.011129,0,0.0,0,0.0,1107,0.879968
3,ADAMS COUNTY JAIL - 2008,2008,ND,ADAMS COUNTY,ADAMS COUNTY JAIL,3,3,1.000000,0,0.000000,...,0,0.000000,0,0.000000,0,0.0,0,0.0,0,0.000000
4,AITKIN COUNTY JAIL - 2008,2008,MN,AITKIN COUNTY,AITKIN COUNTY JAIL,42,31,0.738095,11,0.261905,...,5,0.119048,0,0.000000,0,0.0,0,0.0,0,0.000000

In [50]:
# create state df
## append all year data into one df
state_data_df = pd.concat(data_all)

## select columns needed for state df
state_data_df = state_data_df[['state','year','confined_population', 'adult_male', 'adult_female',
                  'juvenile_male', 'juvenile_female', 'white_population',  'black_population', 
                  'hispanic_population',  'native_american_population',  'asian_population',
                  'native_hawaiian_pacific_islander_population', 'two_or_more_race_population',
                  'other_population']]

## create key for primary key in database
state_data_df['key'] = prison_data_df['state'] + ' - ' + prison_data_df['year'].astype(str)

## groupby key,state,and year to create new df
state_data_df = state_data_df.groupby(['key','state','year'],as_index=False).agg({'confined_population':'sum','adult_male':'sum',
                                                         'adult_female':'sum','juvenile_male':'sum','juvenile_female':'sum',
                                                         'white_population':'sum', 'black_population':'sum', 'hispanic_population':'sum',
                                                         'native_american_population':'sum', 'asian_population':'sum',
                                                         'native_hawaiian_pacific_islander_population':'sum', 'two_or_more_race_population':'sum',
                                                         'other_population':'sum'})

In [51]:
# calculate % of total confined popualtion for each demographic
state_data_df['pct_adult_male'] = state_data_df['adult_male'] / state_data_df['confined_population']
state_data_df['pct_adult_female'] = state_data_df['adult_female'] / state_data_df['confined_population']
state_data_df['pct_juvenile_male'] = state_data_df['juvenile_male'] / state_data_df['confined_population']
state_data_df['pct_juvenile_female'] = state_data_df['juvenile_female'] / state_data_df['confined_population']
state_data_df['pct_white'] = state_data_df['white_population'] / state_data_df['confined_population']
state_data_df['pct_black'] = state_data_df['black_population'] / state_data_df['confined_population']
state_data_df['pct_hispanic'] = state_data_df['hispanic_population'] / state_data_df['confined_population']
state_data_df['pct_native_american'] = state_data_df['native_american_population'] / state_data_df['confined_population']
state_data_df['pct_asian'] = state_data_df['asian_population'] / state_data_df['confined_population']
state_data_df['pct_native_hawaiian_pacific_islander'] = state_data_df['native_hawaiian_pacific_islander_population'] / state_data_df['confined_population']
state_data_df['pct_two_or_more_races'] = state_data_df['two_or_more_race_population'] / state_data_df['confined_population']
state_data_df['pct_other'] = state_data_df['other_population'] / state_data_df['confined_population']

In [52]:
# show df
state_data_df.head()

,key,state,year,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,...,pct_juvenile_male,pct_juvenile_female,pct_white,pct_black,pct_hispanic,pct_native_american,pct_asian,pct_native_hawaiian_pacific_islander,pct_two_or_more_races,pct_other
0,AL - 2008,AL,2008,9584,8145,1382,57,0,3813,5268,...,0.005947,0.000000,0.397851,0.549666,0.035997,0.000000,0.002817,0.0,0.010538,0.003026
1,AL - 2009,AL,2009,9399,8082,1221,93,3,3571,5055,...,0.009895,0.000319,0.379934,0.537823,0.043622,0.000000,0.002873,0.0,0.000532,0.013406
2,AL - 2010,AL,2010,9146,7782,1299,64,1,3485,4752,...,0.006998,0.000109,0.381041,0.519571,0.027881,0.000765,0.000984,0.0,0.000219,0.040236
3,AL - 2011,AL,2011,8571,7199,1196,166,10,3319,4740,...,0.019368,0.001167,0.387236,0.553028,0.022518,0.000117,0.003850,0.0,0.000000,0.028351
4,AL - 2012,AL,2012,7998,6840,1069,82,5,2787,3727,...,0.010253,0.000625,0.348462,0.465991,0.012503,0.000250,0.000250,0.0,0.000250,0.002251

In [58]:
#Load data into database
prison_data_df.to_csv(r"data/prison_data_df.csv", index = True)
state_data_df.to_csv(r"data/state_data_df.csv", index = True)

In [ ]:
2008_state_df = state_data_df.loc[state_data_df]