# Wynn Code Starts Here

In [1]:
import pandas as pd

# 2008 - data8

In [2]:
data08_csv = "data/2008.csv"

In [3]:
data08 = pd.read_csv(data08_csv, encoding="utf-8", low_memory=False)

In [4]:
data08.head()

,FACLID21,JURDID,STATE,COUNTY,FACLNAME,STRATUM,WEIGHT,CONFPOP,V19,NCONPOP,...,V118,NCNFGNDR,V120,CONVNCNF,V122,UNCNVNCF,V124,TOTCNVST,V126,NCONPOP2
0,1.310000e+20,131001001,13,ADA COUNTY,ADA COUNTY,1,1.0000,1001,0,65,...,0,65,0,65,0,0,0,65,0,81
1,3.710000e+20,371001001,37,ADAIR COUNTY,ADAIR COUNTY JAIL,9,5.5377,96,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6.100000e+19,61001001,6,ADAMS COUNTY,ADAMS COUNTY DETENTION FACILITY,1,1.0000,1258,0,93,...,0,93,0,46,0,47,0,93,0,93
3,3.510000e+20,351001001,35,ADAMS COUNTY,ADAMS COUNTY JAIL,10,15.7000,3,0,2,...,0,2,0,0,0,2,0,2,0,2
4,2.410000e+20,241001001,24,AITKIN COUNTY,AITKIN COUNTY JAIL,9,5.5377,42,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
data08 = data08[['STATE','COUNTY','FACLNAME','CONFPOP','ADMALE','ADFEML',
                   'JUVMALE','JUVFEML','WHITE','BLACK',
                   'HISP','AMINDALK','ASIAN','HAWPAC','TWORACE','OTRACE']]

In [6]:
data08.head()

,STATE,COUNTY,FACLNAME,CONFPOP,ADMALE,ADFEML,JUVMALE,JUVFEML,WHITE,BLACK,HISP,AMINDALK,ASIAN,HAWPAC,TWORACE,OTRACE
0,13,ADA COUNTY,ADA COUNTY,1001,837,158,6,0,893,34,56,11,7,0,0,0
1,37,ADAIR COUNTY,ADAIR COUNTY JAIL,96,80,15,0,1,48,13,6,29,0,0,0,0
2,6,ADAMS COUNTY,ADAMS COUNTY DETENTION FACILITY,1258,1092,158,8,0,0,136,0,1,14,0,0,1107
3,35,ADAMS COUNTY,ADAMS COUNTY JAIL,3,3,0,0,0,3,0,0,0,0,0,0,0
4,24,AITKIN COUNTY,AITKIN COUNTY JAIL,42,31,11,0,0,35,0,2,5,0,0,0,0

In [7]:
data08['YEAR'] = '2008'

In [8]:
data08.head()

,STATE,COUNTY,FACLNAME,CONFPOP,ADMALE,ADFEML,JUVMALE,JUVFEML,WHITE,BLACK,HISP,AMINDALK,ASIAN,HAWPAC,TWORACE,OTRACE,YEAR
0,13,ADA COUNTY,ADA COUNTY,1001,837,158,6,0,893,34,56,11,7,0,0,0,2008
1,37,ADAIR COUNTY,ADAIR COUNTY JAIL,96,80,15,0,1,48,13,6,29,0,0,0,0,2008
2,6,ADAMS COUNTY,ADAMS COUNTY DETENTION FACILITY,1258,1092,158,8,0,0,136,0,1,14,0,0,1107,2008
3,35,ADAMS COUNTY,ADAMS COUNTY JAIL,3,3,0,0,0,3,0,0,0,0,0,0,0,2008
4,24,AITKIN COUNTY,AITKIN COUNTY JAIL,42,31,11,0,0,35,0,2,5,0,0,0,0,2008

In [9]:
data08 = data08.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'FACLNAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADMALE' : 'adult_male', 'ADFEML' : 'adult_female', 'JUVMALE' : 'juvenile_male',
                         'JUVFEML' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AMINDALK' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'HAWPAC' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTRACE' : 'other_population', 'YEAR' : 'year'
}) 
data08.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,13,ADA COUNTY,ADA COUNTY,1001,837,158,6,0,893,34,56,11,7,0,0,0,2008
1,37,ADAIR COUNTY,ADAIR COUNTY JAIL,96,80,15,0,1,48,13,6,29,0,0,0,0,2008
2,6,ADAMS COUNTY,ADAMS COUNTY DETENTION FACILITY,1258,1092,158,8,0,0,136,0,1,14,0,0,1107,2008
3,35,ADAMS COUNTY,ADAMS COUNTY JAIL,3,3,0,0,0,3,0,0,0,0,0,0,0,2008
4,24,AITKIN COUNTY,AITKIN COUNTY JAIL,42,31,11,0,0,35,0,2,5,0,0,0,0,2008

# 2009 - data9

In [22]:
data09_csv = "data/2009.csv"

In [23]:
data09 = pd.read_csv(data09_csv, encoding="utf-8", low_memory=False)

In [24]:
data09.head()

,FACLID21,JURDID,STATE,COUNTY,FACLNAME,STRATUM,WEIGHT,CONFPOP,V19,NCONPOP,...,V118,NCNFGNDR,V120,CONVNCNF,V122,UNCNVNCF,V124,TOTCNVST,V126,NCONPOP2
0,1.100800e+19,11008008,1,CALHOUN COUNTY,CALHOUN COUNTY JAIL,7,1.4136,428,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.101000e+19,11010010,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,8,2.7519,85,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.101100e+19,11011011,1,CHILTON COUNTY,CHILTON COUNTY JAIL,7,1.4136,176,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.101300e+19,11013013,1,CLARKE COUNTY,CLARKE COUNTY JAIL,9,5.5377,97,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.101600e+19,11016016,1,COFFEE COUNTY,COFFEE COUNTY JAIL,8,2.7519,136,0,0,...,0,0,0,0,0,0,0,0,0,1

In [25]:
data09 = data09[['STATE','COUNTY','FACLNAME','CONFPOP','ADMALE','ADFEML',
                   'JUVMALE','JUVFEML','WHITE','BLACK',
                   'HISP','AMINDALK','ASIAN','HAWPAC','TWORACE','OTRACE']]

In [26]:
data09.head(5)

,STATE,COUNTY,FACLNAME,CONFPOP,ADMALE,ADFEML,JUVMALE,JUVFEML,WHITE,BLACK,HISP,AMINDALK,ASIAN,HAWPAC,TWORACE,OTRACE
0,1,CALHOUN COUNTY,CALHOUN COUNTY JAIL,428,338,68,22,0,234,194,0,0,0,0,0,0
1,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,85,72,13,0,0,65,15,5,0,0,0,0,0
2,1,CHILTON COUNTY,CHILTON COUNTY JAIL,176,155,21,0,0,132,33,11,0,0,0,0,0
3,1,CLARKE COUNTY,CLARKE COUNTY JAIL,97,83,14,0,0,20,77,0,0,0,0,0,0
4,1,COFFEE COUNTY,COFFEE COUNTY JAIL,136,118,18,0,0,60,63,13,0,0,0,0,0

In [15]:
data09['YEAR'] = '2009'

C:\Users\vmdin\anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
data09.head(5)

,STATE,COUNTY,FACLNAME,CONFPOP,ADMALE,ADFEML,JUVMALE,JUVFEML,WHITE,BLACK,HISP,AMINDALK,ASIAN,HAWPAC,TWORACE,OTRACE
0,1,CALHOUN COUNTY,CALHOUN COUNTY JAIL,428,338,68,22,0,234,194,0,0,0,0,0,0
1,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,85,72,13,0,0,65,15,5,0,0,0,0,0
2,1,CHILTON COUNTY,CHILTON COUNTY JAIL,176,155,21,0,0,132,33,11,0,0,0,0,0
3,1,CLARKE COUNTY,CLARKE COUNTY JAIL,97,83,14,0,0,20,77,0,0,0,0,0,0
4,1,COFFEE COUNTY,COFFEE COUNTY JAIL,136,118,18,0,0,60,63,13,0,0,0,0,0

In [28]:
data09 = data09.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'FACLNAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADMALE' : 'adult_male', 'ADFEML' : 'adult_female', 'JUVMALE' : 'juvenile_male',
                         'JUVFEML' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AMINDALK' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'HAWPAC' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTRACE' : 'other_population', 'YEAR' : 'year'
}) 
data09.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population
0,1,CALHOUN COUNTY,CALHOUN COUNTY JAIL,428,338,68,22,0,234,194,0,0,0,0,0,0
1,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,85,72,13,0,0,65,15,5,0,0,0,0,0
2,1,CHILTON COUNTY,CHILTON COUNTY JAIL,176,155,21,0,0,132,33,11,0,0,0,0,0
3,1,CLARKE COUNTY,CLARKE COUNTY JAIL,97,83,14,0,0,20,77,0,0,0,0,0,0
4,1,COFFEE COUNTY,COFFEE COUNTY JAIL,136,118,18,0,0,60,63,13,0,0,0,0,0

# 2010 - data10

In [96]:
data10_csv = "data/2010.csv"

In [97]:
data10 = pd.read_csv(data10_csv, encoding="utf-8", low_memory=False)

In [98]:
data10.head()

,faclid21,jurdid,state,county,faclname,city,zipP,stratum,finalweight,weight,...,alcoviof,weapon,weaponf,stolenprop,stolenpropf,escape,escapef,othermajvio,othermajviof,NCONPOP2
0,1.100800e+19,11008008,1,CALHOUN COUNTY,CALHOUN COUNTY JAIL,Anniston,36201,7,1.4136,1.4136,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,0
1,1.101000e+19,11010010,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,Centre,35960,8,2.7519,2.7519,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,0
2,1.101100e+19,11011011,1,CHILTON COUNTY,CHILTON COUNTY JAIL,Clanton,35045,7,1.4136,1.4136,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,0
3,1.101300e+19,11013013,1,CLARKE COUNTY,CLARKE COUNTY JAIL,GROVE HILL,36451,9,5.5909,5.5377,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,0
4,1.101600e+19,11016016,1,COFFEE COUNTY,COFFEE COUNTY JAIL,NEW BROCKTON,36351,8,2.7519,2.7519,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,0

In [99]:
data10 = data10[['state','county','faclname','confpop','adultm','adultf',
'juvm','juvf','white','black',
'hisp','AIAN','asian','nhopi','tworace','otherrace']]

In [100]:
data10.head(5)

,state,county,faclname,confpop,adultm,adultf,juvm,juvf,white,black,hisp,AIAN,asian,nhopi,tworace,otherrace
0,1,CALHOUN COUNTY,CALHOUN COUNTY JAIL,469,405,62,2,0,272,182,15,0,0,0,0,0
1,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,85,70,15,0,0,60,15,10,0,0,0,0,0
2,1,CHILTON COUNTY,CHILTON COUNTY JAIL,186,155,31,0,0,118,55,11,0,0,0,2,0
3,1,CLARKE COUNTY,CLARKE COUNTY JAIL,106,95,10,1,0,37,69,0,0,0,0,0,0
4,1,COFFEE COUNTY,COFFEE COUNTY JAIL,151,126,24,1,0,59,71,19,1,1,0,0,0

In [101]:
data10['YEAR'] = '2010'

In [102]:
data10.head(5)

,state,county,faclname,confpop,adultm,adultf,juvm,juvf,white,black,hisp,AIAN,asian,nhopi,tworace,otherrace,YEAR
0,1,CALHOUN COUNTY,CALHOUN COUNTY JAIL,469,405,62,2,0,272,182,15,0,0,0,0,0,2010
1,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,85,70,15,0,0,60,15,10,0,0,0,0,0,2010
2,1,CHILTON COUNTY,CHILTON COUNTY JAIL,186,155,31,0,0,118,55,11,0,0,0,2,0,2010
3,1,CLARKE COUNTY,CLARKE COUNTY JAIL,106,95,10,1,0,37,69,0,0,0,0,0,0,2010
4,1,COFFEE COUNTY,COFFEE COUNTY JAIL,151,126,24,1,0,59,71,19,1,1,0,0,0,2010

In [103]:
data10 = data10.rename(columns = {'faclname' : 'facility_name', 'confpop' : 'confined_population', 
                         'adultm' : 'adult_male', 'adultf' : 'adult_female', 'juvm' : 'juvenile_male',
                         'juvf' : 'juvenile_female', 'white' : 'white_population', 'black' : 'black_population', 
                         'hisp' : 'hispanic_population', 'AIAN' : 'native_american_population', 'asian' : 'asian_population',
                         'nhopi' : 'native_hawaiian_pacific_islander_population',
                         'tworace': 'two_or_more_race_population', 'otherrace' : 'other_population', 'YEAR' : 'year'
}) 
data10.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,1,CALHOUN COUNTY,CALHOUN COUNTY JAIL,469,405,62,2,0,272,182,15,0,0,0,0,0,2010
1,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,85,70,15,0,0,60,15,10,0,0,0,0,0,2010
2,1,CHILTON COUNTY,CHILTON COUNTY JAIL,186,155,31,0,0,118,55,11,0,0,0,2,0,2010
3,1,CLARKE COUNTY,CLARKE COUNTY JAIL,106,95,10,1,0,37,69,0,0,0,0,0,0,2010
4,1,COFFEE COUNTY,COFFEE COUNTY JAIL,151,126,24,1,0,59,71,19,1,1,0,0,0,2010

# 2011 - data11

In [37]:
data11_csv = "data/2011.csv"

In [38]:
data11 = pd.read_csv(data11_csv, encoding="utf-8", low_memory=False)

In [39]:
data11.head()

,faclid21,JURDID,state,county,faclname,city,zipP,stratum,finalweight,weight,...,alcoviof,weapon,weaponf,stolenprop,stolenpropf,escape,escapef,othermajvio,othermajviof,NCONPOP2
0,1.101000e+19,11010010,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,Centre,35960,8,2.8873,2.7519,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,0
1,1.101100e+19,11011011,1,CHILTON COUNTY,CHILTON COUNTY JAIL,Clanton,35045,7,1.4967,1.4136,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,0
2,1.101300e+19,11013013,1,CLARKE COUNTY,CLARKE COUNTY JAIL,GROVE HILL,36451,9,5.9946,5.5377,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,0
3,1.101600e+19,11016016,1,COFFEE COUNTY,COFFEE COUNTY JAIL,NEW BROCKTON,36351,8,2.8873,2.7519,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,11
4,1.101900e+19,11019019,1,COOSA COUNTY,COOSA COUNTY JAIL,ROCKFORD,35136,9,5.9946,5.5377,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,0

In [40]:
data11 = data11[['state','county','faclname','confpop','adultm','adultf',
'juvm','juvf','white','black','hisp','AIAN','asian','nhopi','tworace','otherrace']]

In [41]:
data11.head(5)

,state,county,faclname,confpop,adultm,adultf,juvm,juvf,white,black,hisp,AIAN,asian,nhopi,tworace,otherrace
0,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,121,101,20,0,0,102,14,5,0,0,0,0,0
1,1,CHILTON COUNTY,CHILTON COUNTY JAIL,248,192,56,0,0,171,51,26,0,0,0,0,0
2,1,CLARKE COUNTY,CLARKE COUNTY JAIL,128,116,10,2,0,57,69,2,0,0,0,0,0
3,1,COFFEE COUNTY,COFFEE COUNTY JAIL,108,102,6,0,0,38,62,7,1,0,0,0,0
4,1,COOSA COUNTY,COOSA COUNTY JAIL,52,45,6,1,0,32,17,3,0,0,0,0,0

In [42]:
data11['YEAR'] = '2011'

In [43]:
data11.head(5)

,state,county,faclname,confpop,adultm,adultf,juvm,juvf,white,black,hisp,AIAN,asian,nhopi,tworace,otherrace,YEAR
0,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,121,101,20,0,0,102,14,5,0,0,0,0,0,2011
1,1,CHILTON COUNTY,CHILTON COUNTY JAIL,248,192,56,0,0,171,51,26,0,0,0,0,0,2011
2,1,CLARKE COUNTY,CLARKE COUNTY JAIL,128,116,10,2,0,57,69,2,0,0,0,0,0,2011
3,1,COFFEE COUNTY,COFFEE COUNTY JAIL,108,102,6,0,0,38,62,7,1,0,0,0,0,2011
4,1,COOSA COUNTY,COOSA COUNTY JAIL,52,45,6,1,0,32,17,3,0,0,0,0,0,2011

In [91]:
data11 = data11.rename(columns = {'state' : 'state', 'county':'county', 'faclname' : 'facility_name', 'confpop' : 'confined_population', 
                         'adultm' : 'adult_male', 'adultf' : 'adult_female', 'juvm' : 'juvenile_male',
                         'juvf' : 'juvenile_female', 'white' : 'white_population', 'black' : 'black_population', 
                         'hisp' : 'hispanic_population', 'AIAN' : 'native_american_population', 'asian' : 'asian_population',
                         'nhopi' : 'native_hawaiian_pacific_islander_population',
                         'tworace': 'two_or_more_race_population', 'otherrace' : 'other_population', 'YEAR' : 'year'
}) 
data11.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,121,101,20,0,0,102,14,5,0,0,0,0,0,2011
1,1,CHILTON COUNTY,CHILTON COUNTY JAIL,248,192,56,0,0,171,51,26,0,0,0,0,0,2011
2,1,CLARKE COUNTY,CLARKE COUNTY JAIL,128,116,10,2,0,57,69,2,0,0,0,0,0,2011
3,1,COFFEE COUNTY,COFFEE COUNTY JAIL,108,102,6,0,0,38,62,7,1,0,0,0,0,2011
4,1,COOSA COUNTY,COOSA COUNTY JAIL,52,45,6,1,0,32,17,3,0,0,0,0,0,2011

# Alex Code Starts Here

# 2012 - data2012

In [45]:
data12_csv = "data/2012.csv"

In [46]:
data12_csv

'data/2012.csv'

In [47]:
data12 = pd.read_csv(data12_csv, encoding="utf-8", low_memory=False)

In [48]:
data12.head()

,faclid21,JURDID,state,county,faclname,city,zipP,stratum,finalweight,weight,...,alcoviof,weapon,weaponf,stolenprop,stolenpropf,escape,escapef,othermajvio,othermajviof,NCONPOP2
0,1.101000e+19,11010010,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,CENTRE,35960,8,2.9619,2.7519,...,0,0,0,0,0,0,0,0,0,2
1,1.101100e+19,11011011,1,CHILTON COUNTY,CHILTON COUNTY JAIL,CLANTON,35045,7,1.5369,1.4136,...,0,0,0,0,0,0,0,0,0,3
2,1.101300e+19,11013013,1,CLARKE COUNTY,CLARKE COUNTY JAIL,GROVE HILL,36545,9,5.8174,5.5377,...,0,0,0,0,0,0,0,0,0,1
3,1.101600e+19,11016016,1,COFFEE COUNTY,COFFEE COUNTY JAIL,NEW BROCKTON,36351,8,2.9619,2.7519,...,0,0,0,0,0,0,0,0,0,1
4,1.101900e+19,11019019,1,COOSA COUNTY,COOSA COUNTY JAIL,ROCKFORD,35136,9,5.8174,5.5377,...,0,0,0,0,0,0,0,0,0,0

In [49]:
data2012 = data12[['state','county','faclname','confpop','adultm','adultf','juvm','juvf','white','black',
'hisp','AIAN','asian','nhopi','tworace','otherrace']]

In [50]:
data2012.head()

,state,county,faclname,confpop,adultm,adultf,juvm,juvf,white,black,hisp,AIAN,asian,nhopi,tworace,otherrace
0,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,142,114,28,0,0,129,11,2,0,0,0,0,0
1,1,CHILTON COUNTY,CHILTON COUNTY JAIL,256,200,56,0,0,193,55,7,0,1,0,0,0
2,1,CLARKE COUNTY,CLARKE COUNTY JAIL,176,155,18,3,0,66,107,3,0,0,0,0,0
3,1,COFFEE COUNTY,COFFEE COUNTY JAIL,130,122,8,0,0,35,93,1,1,0,0,0,0
4,1,COOSA COUNTY,COOSA COUNTY JAIL,48,42,6,0,0,32,15,0,0,0,0,1,0

In [51]:
data2012['YEAR'] = '2012'

C:\Users\vmdin\anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
data2012.head()

,state,county,faclname,confpop,adultm,adultf,juvm,juvf,white,black,hisp,AIAN,asian,nhopi,tworace,otherrace,YEAR
0,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,142,114,28,0,0,129,11,2,0,0,0,0,0,2012
1,1,CHILTON COUNTY,CHILTON COUNTY JAIL,256,200,56,0,0,193,55,7,0,1,0,0,0,2012
2,1,CLARKE COUNTY,CLARKE COUNTY JAIL,176,155,18,3,0,66,107,3,0,0,0,0,0,2012
3,1,COFFEE COUNTY,COFFEE COUNTY JAIL,130,122,8,0,0,35,93,1,1,0,0,0,0,2012
4,1,COOSA COUNTY,COOSA COUNTY JAIL,48,42,6,0,0,32,15,0,0,0,0,1,0,2012

In [53]:
data12 = data2012.rename(columns = {'state' : 'state', 'county':'county', 'faclname' : 'facility_name', 'confpop' : 'confined_population', 
                         'adultm' : 'adult_male', 'adultf' : 'adult_female', 'juvm' : 'juvenile_male',
                         'juvf' : 'juvenile_female', 'white' : 'white_population', 'black' : 'black_population', 
                         'hisp' : 'hispanic_population', 'AIAN' : 'native_american_population', 'asian' : 'asian_population',
                         'nhopi' : 'native_hawaiian_pacific_islander_population',
                         'tworace': 'two_or_more_race_population', 'otherrace' : 'other_population', 'YEAR' : 'year'
}) 
data12.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,142,114,28,0,0,129,11,2,0,0,0,0,0,2012
1,1,CHILTON COUNTY,CHILTON COUNTY JAIL,256,200,56,0,0,193,55,7,0,1,0,0,0,2012
2,1,CLARKE COUNTY,CLARKE COUNTY JAIL,176,155,18,3,0,66,107,3,0,0,0,0,0,2012
3,1,COFFEE COUNTY,COFFEE COUNTY JAIL,130,122,8,0,0,35,93,1,1,0,0,0,0,2012
4,1,COOSA COUNTY,COOSA COUNTY JAIL,48,42,6,0,0,32,15,0,0,0,0,1,0,2012

# 2013 - data2013

In [54]:
data13_csv = "data/2013.csv"

In [56]:
data13 = pd.read_csv(data13_csv, encoding="utf-8", low_memory=False)

In [57]:
data13.head()

,FACLID21,JURDID,STATE,COUNTY,FACLNAME,CITY,ZIPP,STRATUMNEW,WEIGHT,CONFPOP,...,WEAPON,WEAPONF,STOLENPROP,STOLENPROPF,ESCAPE,ESCAPEF,OTHERMAJVIO,OTHERMAJVIOF,NCONPOP2,BJSW
0,5.101900e+19,51019019,CA,LOS ANGELES COUNTY,LOS ANGELES COUNTY - CUSTODY SUPPORT SERVS,LOS ANGELES,90012,1.1,1.0,18433,...,142,1,294,1,1,1,0,9,390,1.000000
1,5.010410e+20,501041041,WI,MILWAUKEE COUNTY,MILWAUKEE COUNTY CORRECTIONAL FAC SOUTH,Franklin,53132,1.0,1.0,1571,...,0,9,0,9,0,9,0,9,0,1.069565
2,3.320310e+20,332031001,NY,NEW YORK CITY,NEW YORK CITY,JACKSON HEIGHTS,11370,1.0,1.0,11518,...,513,0,7,0,1,0,3619,0,20,1.069565
3,1.410160e+20,141016016,IL,COOK COUNTY,COOK COUNTY JAILS - DEPT OF CORRS,CHICAGO,60608,1.0,1.0,10428,...,247,1,86,1,14,1,284,1,1402,1.069565
4,4.411010e+20,441101101,TX,HARRIS COUNTY,HARRIS COUNTY,HOUSTON,77002,1.0,1.0,9297,...,562,0,346,0,14,0,8201,0,60,1.069565

In [58]:
data2013 = data13[['STATE','COUNTY','FACLNAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE']]

In [59]:
data2013.head()

,STATE,COUNTY,FACLNAME,CONFPOP,ADULTM,ADULTF,JUVM,JUVF,WHITE,BLACK,HISP,AIAN,ASIAN,NHOPI,TWORACE,OTHERRACE
0,CA,LOS ANGELES COUNTY,LOS ANGELES COUNTY - CUSTODY SUPPORT SERVS,18433,15930,2503,0,0,3316,5910,8754,7,65,22,0,359
1,WI,MILWAUKEE COUNTY,MILWAUKEE COUNTY CORRECTIONAL FAC SOUTH,1571,1435,136,0,0,448,1033,76,5,0,9,0,0
2,NY,NEW YORK CITY,NEW YORK CITY,11518,10459,783,262,14,866,6301,3939,10,142,0,0,255
3,IL,COOK COUNTY,COOK COUNTY JAILS - DEPT OF CORRS,10428,9458,878,89,3,1039,7694,1601,11,52,0,31,0
4,TX,HARRIS COUNTY,HARRIS COUNTY,9297,8001,1171,113,12,4480,4690,0,5,50,0,0,0

In [60]:
data2013['YEAR'] = '2013'

C:\Users\vmdin\anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
data2013.head()

,STATE,COUNTY,FACLNAME,CONFPOP,ADULTM,ADULTF,JUVM,JUVF,WHITE,BLACK,HISP,AIAN,ASIAN,NHOPI,TWORACE,OTHERRACE,YEAR
0,CA,LOS ANGELES COUNTY,LOS ANGELES COUNTY - CUSTODY SUPPORT SERVS,18433,15930,2503,0,0,3316,5910,8754,7,65,22,0,359,2013
1,WI,MILWAUKEE COUNTY,MILWAUKEE COUNTY CORRECTIONAL FAC SOUTH,1571,1435,136,0,0,448,1033,76,5,0,9,0,0,2013
2,NY,NEW YORK CITY,NEW YORK CITY,11518,10459,783,262,14,866,6301,3939,10,142,0,0,255,2013
3,IL,COOK COUNTY,COOK COUNTY JAILS - DEPT OF CORRS,10428,9458,878,89,3,1039,7694,1601,11,52,0,31,0,2013
4,TX,HARRIS COUNTY,HARRIS COUNTY,9297,8001,1171,113,12,4480,4690,0,5,50,0,0,0,2013

In [66]:
data13 = data2013.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'FACLNAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
}) 
data13.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,CA,LOS ANGELES COUNTY,LOS ANGELES COUNTY - CUSTODY SUPPORT SERVS,18433,15930,2503,0,0,3316,5910,8754,7,65,22,0,359,2013
1,WI,MILWAUKEE COUNTY,MILWAUKEE COUNTY CORRECTIONAL FAC SOUTH,1571,1435,136,0,0,448,1033,76,5,0,9,0,0,2013
2,NY,NEW YORK CITY,NEW YORK CITY,11518,10459,783,262,14,866,6301,3939,10,142,0,0,255,2013
3,IL,COOK COUNTY,COOK COUNTY JAILS - DEPT OF CORRS,10428,9458,878,89,3,1039,7694,1601,11,52,0,31,0,2013
4,TX,HARRIS COUNTY,HARRIS COUNTY,9297,8001,1171,113,12,4480,4690,0,5,50,0,0,0,2013

# 2014 - data2014

In [67]:
data14_csv = "data/2014.csv"

In [68]:
data14 = pd.read_csv(data14_csv, encoding="utf-8", low_memory=False)

In [69]:
data14.head()

,FACLID,JURDID,STATE,COUNTY,FACILITY,CITY,ZIPP,STRATUMNEW,WEIGHT,CONFPOP,...,WEAPON,WEAPONF,STOLENPROP,STOLENPROPF,ESCAPE,ESCAPEF,OTHERMAJVIO,OTHERMAJVIOF,NONCON2,BJSW
0,1.101000e+19,11010010,AL,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,CENTRE,35960,8.0,2.7519,120,...,0,0,0,0,0,0,0,0,0,3.017434
1,1.101100e+19,11011011,AL,CHILTON COUNTY,CHILTON COUNTY JAIL,CLANTON,35045,7.0,1.4136,158,...,0,0,0,0,0,0,0,0,0,1.587582
2,1.101300e+19,11013013,AL,CLARKE COUNTY,CLARKE COUNTY JAIL,GROVE HILL,36545,9.0,5.5377,199,...,0,0,0,0,0,0,0,0,1,5.768438
3,1.101600e+19,11016016,AL,COFFEE COUNTY,COFFEE COUNTY JAIL,NEW BROCKTON,36351,8.0,2.7519,119,...,0,0,0,0,0,0,0,0,1,3.017434
4,1.101900e+19,11019019,AL,COOSA COUNTY,COOSA COUNTY JAIL,ROCKFORD,35136,9.0,5.5377,39,...,0,0,0,0,0,0,0,0,1,5.768438

In [72]:
data14 = data14[['STATE','COUNTY','FACILITY','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE']]

In [73]:
data14.head()

,STATE,COUNTY,FACILITY,CONFPOP,ADULTM,ADULTF,JUVM,JUVF,WHITE,BLACK,HISP,AIAN,ASIAN,NHOPI,TWORACE,OTHERRACE
0,AL,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,120,102,18,0,0,109,9,2,0,0,0,0,0
1,AL,CHILTON COUNTY,CHILTON COUNTY JAIL,158,121,36,1,0,126,28,4,0,0,0,0,0
2,AL,CLARKE COUNTY,CLARKE COUNTY JAIL,199,191,6,2,0,76,123,0,0,0,0,0,0
3,AL,COFFEE COUNTY,COFFEE COUNTY JAIL,119,102,16,1,0,47,69,3,0,0,0,0,0
4,AL,COOSA COUNTY,COOSA COUNTY JAIL,39,31,8,0,0,27,12,0,0,0,0,0,0

In [74]:
data14['YEAR'] = '2014'

In [75]:
data14.head()

,STATE,COUNTY,FACILITY,CONFPOP,ADULTM,ADULTF,JUVM,JUVF,WHITE,BLACK,HISP,AIAN,ASIAN,NHOPI,TWORACE,OTHERRACE,YEAR
0,AL,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,120,102,18,0,0,109,9,2,0,0,0,0,0,2014
1,AL,CHILTON COUNTY,CHILTON COUNTY JAIL,158,121,36,1,0,126,28,4,0,0,0,0,0,2014
2,AL,CLARKE COUNTY,CLARKE COUNTY JAIL,199,191,6,2,0,76,123,0,0,0,0,0,0,2014
3,AL,COFFEE COUNTY,COFFEE COUNTY JAIL,119,102,16,1,0,47,69,3,0,0,0,0,0,2014
4,AL,COOSA COUNTY,COOSA COUNTY JAIL,39,31,8,0,0,27,12,0,0,0,0,0,0,2014

In [76]:
data14 = data14.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'FACILITY' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
}) 
data14.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,AL,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,120,102,18,0,0,109,9,2,0,0,0,0,0,2014
1,AL,CHILTON COUNTY,CHILTON COUNTY JAIL,158,121,36,1,0,126,28,4,0,0,0,0,0,2014
2,AL,CLARKE COUNTY,CLARKE COUNTY JAIL,199,191,6,2,0,76,123,0,0,0,0,0,0,2014
3,AL,COFFEE COUNTY,COFFEE COUNTY JAIL,119,102,16,1,0,47,69,3,0,0,0,0,0,2014
4,AL,COOSA COUNTY,COOSA COUNTY JAIL,39,31,8,0,0,27,12,0,0,0,0,0,0,2014

# Vince Code Starts Here

In [77]:
data15_csv = "data/2015.csv"
data15 = pd.read_csv(data15_csv, encoding="utf-8", low_memory=False)

In [78]:
data15 = data15[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [79]:
data15 = data15.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
    
}) 

data15.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,1,Baldwin County,Baldwin County Sheriff's Office,456,394,62,0,0,329,53,67,2,5,0,0,0,2015
1,1,Bibb County,Bibb County Sheriffs Department,85,73,12,0,0,61,24,0,0,0,0,0,0,2015
2,1,Cleburne County,Cleburne County Sheriffs Office,59,49,10,0,0,48,9,2,0,0,0,0,0,2015
3,1,Cullman County,Cullman County Sheriffs Office,325,260,65,0,0,266,37,19,0,1,0,2,0,2015
4,1,Etowah County,Etowah County Sheriffs Office,634,566,66,2,0,289,150,80,0,10,0,52,0,2015

In [80]:
data16_csv = "data/2016.csv"
data16 = pd.read_csv(data16_csv, encoding="utf-8", low_memory=False)

In [81]:
data16 = data16[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [82]:
data16 = data16.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
    
}) 

data16.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,1,BALDWIN COUNTY,BALDWIN COUNTY SHERIFF'S OFFICE,466,382,80,4,0,311,133,20,0,2,0,0,0,2016
1,1,BIBB COUNTY,BIBB COUNTY SHERIFFS DEPARTMENT,69,61,8,0,0,52,13,4,0,0,0,0,0,2016
2,1,CLEBURNE COUNTY,CLEBURNE COUNTY SHERIFFS OFFICE,50,41,9,0,0,41,7,2,0,0,0,0,0,2016
3,1,CULLMAN COUNTY,CULLMAN COUNTY SHERIFFS OFFICE,307,246,61,0,0,252,30,25,0,0,0,0,0,2016
4,1,ETOWAH COUNTY,ETOWAH COUNTY SHERIFFS OFFICE,686,598,88,0,0,273,197,95,0,15,0,53,0,2016

In [83]:
data17_csv = "data/2017.csv"
data17 = pd.read_csv(data17_csv, encoding="utf-8", low_memory=False)

In [84]:
data17 = data17[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [85]:
data17 = data17.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
    
}) 

data17.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,1,BALDWIN COUNTY,BALDWIN COUNTY SHERIFF'S OFFICE,533,441,92,0,0,351,143,31,0,8,0,0,0,2017
1,1,BIBB COUNTY,BIBB COUNTY SHERIFFS DEPARTMENT,69,60,9,0,0,45,24,0,0,0,0,0,0,2017
2,1,CLEBURNE COUNTY,CLEBURNE COUNTY SHERIFFS OFFICE,77,64,13,0,0,62,8,7,0,0,0,0,0,2017
3,1,CULLMAN COUNTY,CULLMAN COUNTY SHERIFFS OFFICE,322,255,67,0,0,283,27,12,0,0,0,0,0,2017
4,1,FAYETTE COUNTY,FAYETTE COUNTY SHERIFFS OFFICE,74,56,18,0,0,39,33,1,0,0,1,0,0,2017

In [86]:
data18_csv = "data/2018.csv"
data18 = pd.read_csv(data18_csv, encoding="utf-8", low_memory=False)

In [87]:
data18 = data18[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [88]:
data18 = data18.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawaiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
    
}) 

data18.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawaiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,1,BALDWIN COUNTY,BALDWIN COUNTY SHERIFFS OFFICE,577,479,98,0,0,398,144,29,0,0,0,0,6,2018
1,1,BIBB COUNTY,BIBB COUNTY SHERIFFS DEPARTMENT,83,68,15,0,0,64,18,1,0,0,0,0,0,2018
2,1,CLEBURNE COUNTY,CLEBURNE COUNTY SHERIFFS OFFICE,64,56,8,0,0,55,7,2,0,0,0,0,0,2018
3,1,CULLMAN COUNTY,CULLMAN COUNTY SHERIFFS OFFICE,350,284,66,0,0,294,31,20,0,0,0,3,2,2018
4,1,ETOWAH COUNTY,ETOWAH COUNTY SHERIFFS OFFICE,924,788,132,4,0,452,267,110,0,20,0,40,20,2018

In [110]:
data_all = [data08,data09,data10,data11,data12,data13,data14,data15,data16,data17,data18]
prison_data_df = pd.concat(data_all)

In [118]:
prison_data_df['key'] = prison_data_df['facility_name'] + ' - ' + prison_data_df['year'].astype(str)
prison_data_df['%_adult_male'] = prison_data_df['adult_male'] / prison_data_df['confined_population']
prison_data_df['%_adult_female'] = prison_data_df['adult_female'] / prison_data_df['confined_population']
prison_data_df['%_juvenile_male'] = prison_data_df['juvenile_male'] / prison_data_df['confined_population']
prison_data_df['%_juvenile_female'] = prison_data_df['juvenile_female'] / prison_data_df['confined_population']
prison_data_df['%_white'] = prison_data_df['white_population'] / prison_data_df['confined_population']
prison_data_df['%_black'] = prison_data_df['black_population'] / prison_data_df['confined_population']
prison_data_df['%_hispanic'] = prison_data_df['hispanic_population'] / prison_data_df['confined_population']
prison_data_df['%_native_american'] = prison_data_df['native_american_population'] / prison_data_df['confined_population']
prison_data_df['%_asian'] = prison_data_df['asian_population'] / prison_data_df['confined_population']
prison_data_df['%_native_hawaiian_pacific_islander'] = prison_data_df['native_hawaiian_pacific_islander_population'] / prison_data_df['confined_population']
prison_data_df['%_two_or_more_races'] = prison_data_df['two_or_more_race_population'] / prison_data_df['confined_population']
prison_data_df['%_other'] = prison_data_df['other_population'] / prison_data_df['confined_population']

prison_data_df.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,...,%_juvenile_female,%_white,%_black,%_hispanic,%_native_american,%_asian,%_native_hawaiian_pacific_islander,%_two_or_more_races,%_other,key
0,13,ADA COUNTY,ADA COUNTY,1001,837,158,6,0,893,34,...,0.000000,0.892108,0.033966,0.055944,0.010989,0.006993,0.0,0.0,0.000000,ADA COUNTY - 2008
1,37,ADAIR COUNTY,ADAIR COUNTY JAIL,96,80,15,0,1,48,13,...,0.010417,0.500000,0.135417,0.062500,0.302083,0.000000,0.0,0.0,0.000000,ADAIR COUNTY JAIL - 2008
2,6,ADAMS COUNTY,ADAMS COUNTY DETENTION FACILITY,1258,1092,158,8,0,0,136,...,0.000000,0.000000,0.108108,0.000000,0.000795,0.011129,0.0,0.0,0.879968,ADAMS COUNTY DETENTION FACILITY - 2008
3,35,ADAMS COUNTY,ADAMS COUNTY JAIL,3,3,0,0,0,3,0,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,ADAMS COUNTY JAIL - 2008
4,24,AITKIN COUNTY,AITKIN COUNTY JAIL,42,31,11,0,0,35,0,...,0.000000,0.833333,0.000000,0.047619,0.119048,0.000000,0.0,0.0,0.000000,AITKIN COUNTY JAIL - 2008

In [121]:
prison_data_df = prison_data_df[['key', 'year', 'state','county', 'facility_name', 'confined_population', 'adult_male', 'adult_female',
                  'juvenile_male', 'juvenile_female', 'white_population', '%_white', 'black_population', '%_black',
                  'hispanic_population', '%_hispanic', 'native_american_population', '%_native_american', 'asian_population','%_asian',
                  'native_hawaiian_pacific_islander_population','%_native_hawaiian_pacific_islander', 'two_or_more_race_population',
                  '%_two_or_more_races', 'other_population','%_other'
                 ]]

prison_data_df.head()

,key,year,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,...,native_american_population,%_native_american,asian_population,%_asian,native_hawaiian_pacific_islander_population,%_native_hawaiian_pacific_islander,two_or_more_race_population,%_two_or_more_races,other_population,%_other
0,ADA COUNTY - 2008,2008,13,ADA COUNTY,ADA COUNTY,1001,837,158,6,0,...,11,0.010989,7,0.006993,0,0.0,0,0.0,0,0.000000
1,ADAIR COUNTY JAIL - 2008,2008,37,ADAIR COUNTY,ADAIR COUNTY JAIL,96,80,15,0,1,...,29,0.302083,0,0.000000,0,0.0,0,0.0,0,0.000000
2,ADAMS COUNTY DETENTION FACILITY - 2008,2008,6,ADAMS COUNTY,ADAMS COUNTY DETENTION FACILITY,1258,1092,158,8,0,...,1,0.000795,14,0.011129,0,0.0,0,0.0,1107,0.879968
3,ADAMS COUNTY JAIL - 2008,2008,35,ADAMS COUNTY,ADAMS COUNTY JAIL,3,3,0,0,0,...,0,0.000000,0,0.000000,0,0.0,0,0.0,0,0.000000
4,AITKIN COUNTY JAIL - 2008,2008,24,AITKIN COUNTY,AITKIN COUNTY JAIL,42,31,11,0,0,...,5,0.119048,0,0.000000,0,0.0,0,0.0,0,0.000000

In [122]:
for col in prison_data_df.columns: 
    print(col)

key
year
state
county
facility_name
confined_population
adult_male
adult_female
juvenile_male
juvenile_female
white_population
%_white
black_population
%_black
hispanic_population
%_hispanic
native_american_population
%_native_american
asian_population
%_asian
native_hawaiian_pacific_islander_population
%_native_hawaiian_pacific_islander
two_or_more_race_population
%_two_or_more_races
other_population
%_other