# Wynn Code Starts Here

In [4]:
import pandas as pd

# 2008 - data8

In [3]:
data08_csv = "data/2008.csv"

'data/2008.csv'

In [4]:
data08 = pd.read_csv(data08_csv, encoding="utf-8", low_memory=False)

In [5]:
data08.head()

,FACLID21,JURDID,STATE,COUNTY,FACLNAME,STRATUM,WEIGHT,CONFPOP,V19,NCONPOP,...,V118,NCNFGNDR,V120,CONVNCNF,V122,UNCNVNCF,V124,TOTCNVST,V126,NCONPOP2
0,1.310000e+20,131001001,13,ADA COUNTY,ADA COUNTY,1,1.0000,1001,0,65,...,0,65,0,65,0,0,0,65,0,81
1,3.710000e+20,371001001,37,ADAIR COUNTY,ADAIR COUNTY JAIL,9,5.5377,96,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6.100000e+19,61001001,6,ADAMS COUNTY,ADAMS COUNTY DETENTION FACILITY,1,1.0000,1258,0,93,...,0,93,0,46,0,47,0,93,0,93
3,3.510000e+20,351001001,35,ADAMS COUNTY,ADAMS COUNTY JAIL,10,15.7000,3,0,2,...,0,2,0,0,0,2,0,2,0,2
4,2.410000e+20,241001001,24,AITKIN COUNTY,AITKIN COUNTY JAIL,9,5.5377,42,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#for col in data08.columns: 
    #print(col)

In [24]:
data8 = data08[['STATE','COUNTY','FACLNAME','CONFPOP','ADMALE','ADFEML',
                   'JUVMALE','JUVFEML','TOTGEND','WHITE','BLACK',
                   'HISP','AMINDALK','ASIAN','HAWPAC','TWORACE','OTRACE']]

In [8]:
data8.head(20)

In [9]:
data8['YEAR'] = '2008'

/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
data8.head()

,STATE,COUNTY,FACLNAME,CONFPOP,TOTPOP,ADMALE,ADFEML,JUVMALE,JUVFEML,TOTGEND,...,CONVFML,WHITE,BLACK,HISP,AMINDALK,ASIAN,HAWPAC,TWORACE,OTRACE,YEAR
0,13,ADA COUNTY,ADA COUNTY,1001,1066,837,158,6,0,1001,...,105,893,34,56,11,7,0,0,0,2008
1,37,ADAIR COUNTY,ADAIR COUNTY JAIL,96,96,80,15,0,1,96,...,1,48,13,6,29,0,0,0,0,2008
2,6,ADAMS COUNTY,ADAMS COUNTY DETENTION FACILITY,1258,1351,1092,158,8,0,1258,...,89,0,136,0,1,14,0,0,1107,2008
3,35,ADAMS COUNTY,ADAMS COUNTY JAIL,3,5,3,0,0,0,3,...,0,3,0,0,0,0,0,0,0,2008
4,24,AITKIN COUNTY,AITKIN COUNTY JAIL,42,42,31,11,0,0,42,...,8,35,0,2,5,0,0,0,0,2008

# 2009 - data9

In [ ]:
data09_csv = "data/2009.csv"

In [ ]:
data09 = pd.read_csv(data09_csv, encoding="utf-8", low_memory=False)

In [ ]:
data09.head()

In [ ]:
data9 = data09[['STATE','COUNTY','FACLNAME','CONFPOP','ADMALE','ADFEML',
                   'JUVMALE','JUVFEML','TOTGEND','WHITE','BLACK',
                   'HISP','AMINDALK','ASIAN','HAWPAC','TWORACE','OTRACE']]

In [ ]:
data9.head(5)

In [ ]:
data9['YEAR'] = '2009'

In [ ]:
data9.head(5)

# 2010 - data10

In [ ]:
data10_csv = "data/2010.csv"

In [ ]:
data10 = pd.read_csv(data10_csv, encoding="utf-8", low_memory=False)

In [ ]:
data10.head()

In [ ]:
data10 = data10[['state','county','faclname','confpop','adultm','adultf',
'juvm','juvf','totgender','white','black',
'hisp','AIAN','asian','nhopi','tworace','otherrace']]

In [ ]:
data10.head(5)

In [ ]:
data10['YEAR'] = '2010'

In [ ]:
data10.head(5)

# 2011 - data11

In [ ]:
data11_csv = "data/2011.csv"

In [ ]:
data11 = pd.read_csv(data11_csv, encoding="utf-8", low_memory=False)

In [ ]:
data11.head()

In [ ]:
data11 = data11[['state','county','faclname','confpop','adultm','adultf',
'juvm','juvf','totgender','white','black',
'hisp','AIAN','asian','nhopi','tworace','otherrace']]

In [ ]:
data11.head(5)

In [ ]:
data11['YEAR'] = '2011'

In [ ]:
data11.head(5)

# Alex Code Starts Here

In [12]:
data12_csv = "data/2012.csv"

In [16]:
data12_csv

'data/2012.csv'

In [20]:
data12 = pd.read_csv(data12_csv, encoding="utf-8", low_memory=False)

In [19]:
data12.head()

,faclid21,JURDID,state,county,faclname,city,zipP,stratum,finalweight,weight,...,alcoviof,weapon,weaponf,stolenprop,stolenpropf,escape,escapef,othermajvio,othermajviof,NCONPOP2
0,1.101000e+19,11010010,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,CENTRE,35960,8,2.9619,2.7519,...,0,0,0,0,0,0,0,0,0,2
1,1.101100e+19,11011011,1,CHILTON COUNTY,CHILTON COUNTY JAIL,CLANTON,35045,7,1.5369,1.4136,...,0,0,0,0,0,0,0,0,0,3
2,1.101300e+19,11013013,1,CLARKE COUNTY,CLARKE COUNTY JAIL,GROVE HILL,36545,9,5.8174,5.5377,...,0,0,0,0,0,0,0,0,0,1
3,1.101600e+19,11016016,1,COFFEE COUNTY,COFFEE COUNTY JAIL,NEW BROCKTON,36351,8,2.9619,2.7519,...,0,0,0,0,0,0,0,0,0,1
4,1.101900e+19,11019019,1,COOSA COUNTY,COOSA COUNTY JAIL,ROCKFORD,35136,9,5.8174,5.5377,...,0,0,0,0,0,0,0,0,0,0

In [28]:
#for col in data08.columns: 
    #print(col)

In [30]:
data2012 = data12[['state','county','faclname','confpop','adultm','adultf','juvm','juvf','totgender','white','black',
'hisp','AIAN','asian','nhopi','tworace','otherrace']]

In [31]:
data2012.head()

,state,county,faclname,confpop,adultm,adultf,juvm,juvf,totgender,white,black,hisp,AIAN,asian,nhopi,tworace,otherrace
0,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,142,114,28,0,0,142,129,11,2,0,0,0,0,0
1,1,CHILTON COUNTY,CHILTON COUNTY JAIL,256,200,56,0,0,256,193,55,7,0,1,0,0,0
2,1,CLARKE COUNTY,CLARKE COUNTY JAIL,176,155,18,3,0,176,66,107,3,0,0,0,0,0
3,1,COFFEE COUNTY,COFFEE COUNTY JAIL,130,122,8,0,0,130,35,93,1,1,0,0,0,0
4,1,COOSA COUNTY,COOSA COUNTY JAIL,48,42,6,0,0,48,32,15,0,0,0,0,1,0

In [32]:
data2012['YEAR'] = '2012'

/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
data2012.head()

,state,county,faclname,confpop,adultm,adultf,juvm,juvf,totgender,white,black,hisp,AIAN,asian,nhopi,tworace,otherrace,YEAR
0,1,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,142,114,28,0,0,142,129,11,2,0,0,0,0,0,2012
1,1,CHILTON COUNTY,CHILTON COUNTY JAIL,256,200,56,0,0,256,193,55,7,0,1,0,0,0,2012
2,1,CLARKE COUNTY,CLARKE COUNTY JAIL,176,155,18,3,0,176,66,107,3,0,0,0,0,0,2012
3,1,COFFEE COUNTY,COFFEE COUNTY JAIL,130,122,8,0,0,130,35,93,1,1,0,0,0,0,2012
4,1,COOSA COUNTY,COOSA COUNTY JAIL,48,42,6,0,0,48,32,15,0,0,0,0,1,0,2012

In [34]:
data13_csv = "data/2013.csv"

In [35]:
data13_csv

'data/2013.csv'

In [36]:
data13 = pd.read_csv(data13_csv, encoding="utf-8", low_memory=False)

In [37]:
data13.head()

,FACLID21,JURDID,STATE,COUNTY,FACLNAME,CITY,ZIPP,STRATUMNEW,WEIGHT,CONFPOP,...,WEAPON,WEAPONF,STOLENPROP,STOLENPROPF,ESCAPE,ESCAPEF,OTHERMAJVIO,OTHERMAJVIOF,NCONPOP2,BJSW
0,5.101900e+19,51019019,CA,LOS ANGELES COUNTY,LOS ANGELES COUNTY - CUSTODY SUPPORT SERVS,LOS ANGELES,90012,1.1,1.0,18433,...,142,1,294,1,1,1,0,9,390,1.000000
1,5.010410e+20,501041041,WI,MILWAUKEE COUNTY,MILWAUKEE COUNTY CORRECTIONAL FAC SOUTH,Franklin,53132,1.0,1.0,1571,...,0,9,0,9,0,9,0,9,0,1.069565
2,3.320310e+20,332031001,NY,NEW YORK CITY,NEW YORK CITY,JACKSON HEIGHTS,11370,1.0,1.0,11518,...,513,0,7,0,1,0,3619,0,20,1.069565
3,1.410160e+20,141016016,IL,COOK COUNTY,COOK COUNTY JAILS - DEPT OF CORRS,CHICAGO,60608,1.0,1.0,10428,...,247,1,86,1,14,1,284,1,1402,1.069565
4,4.411010e+20,441101101,TX,HARRIS COUNTY,HARRIS COUNTY,HOUSTON,77002,1.0,1.0,9297,...,562,0,346,0,14,0,8201,0,60,1.069565

In [49]:
for col in data13.columns: 
    print(col)

FACLID21
JURDID
STATE
COUNTY
FACLNAME
CITY
ZIPP
STRATUMNEW
WEIGHT
CONFPOP
CONFPOPF
NCONPOP
NCONPOPF
TOTPOP
TOTPOPF
NONCITZ
NONCITZF
WEEK
WEEKN
WEEKF
ADULTM
ADULTMF
ADULTF
ADULTFF
JUVM
JUVMF
JUVF
JUVFF
TOTGENDER
TOTGENDERF
ADLTJUV
ADLTJUVF
CONV
CONVF
CONVUNSENT
CONVUNSENTF
CONVSENT
CONVSENTF
UNCONV
UNCONVF
UNCONVTRIAL
UNCONVTRIALF
UNCONVHOLD
UNCONVHOLDF
UNCONVOTHER
UNCONVOTHERF
S2QII3C
S2QII3CF
WHITE
WHITEF
BLACK
BLACKF
HISP
HISPF
AIAN
AIANF
ASIAN
ASIANF
NHOPI
NHOPIF
TWORACE
TWORACEF
OTHERRACESPEC
OTHERRACE
OTHERRACEF
RACEDK
RACEDKF
RACETOTAL
RACETOTALF
MARSHALS
MARSHALSF
BOP
BOPF
ICE
ICEF
BIA
BIAF
S2QII5A5SPEC
S2QII5A5
S2QII5A5F
INSTATEPRIS
INSTATEPRISF
OUTSTATEPRIS
OUTSTATEPRISF
INSTATEJAIL
INSTATEJAILF
OUTSTATEJAIL
OUTSTATEJAILF
S2QII5D
S2QII5DF
PEAKDATE
PEAKPOP
PEAKPOPF
ADP
ADPF
RATED
RATEDF
OPERATION
OPERATIONF
DESIGN
DESIGNF
ADMIS
ADMISF
RELEASE
RELEASEF
CONVII10A
CONVII10AF
UNCONVII10A
UNCONVII10AF
CONVII10B
CONVII10BF
UNCONVII10B
UNCONVII10BF
CONVII10C
CONVII10CF
UNCONVII10C
UNCONVII10CF
CONVII10D
CONVII10DF
UNCONVII10D
UNCONVII10DF
CONVII10E
CONVII10EF
UNCONVII10E
UNCONVII10EF
CONVII10F
CONVFII10F
UNCONVII10F
UNCONVII10FF
S2II10GCONV
S2II10GCONVF
S2II10GFUNCONV
S2II10GFUNCONVF
EMONITOR
EMONITORF
HOMEDETN
HOMEDETNF
COMMSRV
COMMSRVF
DAYREPORT
DAYREPORTF
PRETRIAL
PRETRIALF
ALTWORK
ALTWORKF
TREATMENT
TREATMENTF
OTRNONCONFS
OTRNONCONF
OTRNONCONFF
NONCONFD
NONCONFDF
ADMLNCNF
ADMLNCNFF
ADFMNCNF
ADFMNCNFF
JVMLNCNF
JVMLNCNFF
JVFMNCNF
JVFMNCNFF
NCNFGNDR
NCNFGNDRF
CONVNCNF
CONVNCNFF
UNCNVNCF
UNCNVNCFF
TOTCNVST
TOTCNVSTF
CORRSTAFF
CORRSTAFFF
OTHERSTAFF
OTHERSTAFFF
S4QIV1C
S4QIV1CF
ASSAULTSTAFFYN
ASSAULTCORR
ASSAULTCORRF
ASSAULTOTRSTAFF
ASSAULTOTRSTAFFF
DEATHSTAFFYN
DEATHCORR
DEATHCORRF
DEATHOTRSTAFF
DEATHOTRSTAFFF
PHYSASSAULT
PHYSASSAULTF
DRUGVIO
DRUGVIOF
ALCOVIO
ALCOVIOF
WEAPON
WEAPONF
STOLENPROP
STOLENPROPF
ESCAPE
ESCAPEF
OTHERMAJVIO
OTHERMAJVIOF
NCONPOP2
BJSW

In [51]:
data2013 = data13[['STATE','COUNTY','FACLNAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','TOTGENDER','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE']]

In [52]:
data2013.head()

,STATE,COUNTY,FACLNAME,CONFPOP,ADULTM,ADULTF,JUVM,JUVF,TOTGENDER,WHITE,BLACK,HISP,AIAN,ASIAN,NHOPI,TWORACE,OTHERRACE
0,CA,LOS ANGELES COUNTY,LOS ANGELES COUNTY - CUSTODY SUPPORT SERVS,18433,15930,2503,0,0,18433,3316,5910,8754,7,65,22,0,359
1,WI,MILWAUKEE COUNTY,MILWAUKEE COUNTY CORRECTIONAL FAC SOUTH,1571,1435,136,0,0,1571,448,1033,76,5,0,9,0,0
2,NY,NEW YORK CITY,NEW YORK CITY,11518,10459,783,262,14,11518,866,6301,3939,10,142,0,0,255
3,IL,COOK COUNTY,COOK COUNTY JAILS - DEPT OF CORRS,10428,9458,878,89,3,10428,1039,7694,1601,11,52,0,31,0
4,TX,HARRIS COUNTY,HARRIS COUNTY,9297,8001,1171,113,12,9297,4480,4690,0,5,50,0,0,0

In [53]:
data2013['YEAR'] = '2013'

/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
data2013.head()

,STATE,COUNTY,FACLNAME,CONFPOP,ADULTM,ADULTF,JUVM,JUVF,TOTGENDER,WHITE,BLACK,HISP,AIAN,ASIAN,NHOPI,TWORACE,OTHERRACE,YEAR
0,CA,LOS ANGELES COUNTY,LOS ANGELES COUNTY - CUSTODY SUPPORT SERVS,18433,15930,2503,0,0,18433,3316,5910,8754,7,65,22,0,359,2013
1,WI,MILWAUKEE COUNTY,MILWAUKEE COUNTY CORRECTIONAL FAC SOUTH,1571,1435,136,0,0,1571,448,1033,76,5,0,9,0,0,2013
2,NY,NEW YORK CITY,NEW YORK CITY,11518,10459,783,262,14,11518,866,6301,3939,10,142,0,0,255,2013
3,IL,COOK COUNTY,COOK COUNTY JAILS - DEPT OF CORRS,10428,9458,878,89,3,10428,1039,7694,1601,11,52,0,31,0,2013
4,TX,HARRIS COUNTY,HARRIS COUNTY,9297,8001,1171,113,12,9297,4480,4690,0,5,50,0,0,0,2013

In [55]:
data14_csv = "data/2014.csv"

In [56]:
data14_csv

'data/2014.csv'

In [57]:
data14 = pd.read_csv(data14_csv, encoding="utf-8", low_memory=False)

In [58]:
data14.head()

,FACLID,JURDID,STATE,COUNTY,FACILITY,CITY,ZIPP,STRATUMNEW,WEIGHT,CONFPOP,...,WEAPON,WEAPONF,STOLENPROP,STOLENPROPF,ESCAPE,ESCAPEF,OTHERMAJVIO,OTHERMAJVIOF,NONCON2,BJSW
0,1.101000e+19,11010010,AL,CHEROKEE COUNTY,CHEROKEE COUNTY DETENTION CENTER,CENTRE,35960,8.0,2.7519,120,...,0,0,0,0,0,0,0,0,0,3.017434
1,1.101100e+19,11011011,AL,CHILTON COUNTY,CHILTON COUNTY JAIL,CLANTON,35045,7.0,1.4136,158,...,0,0,0,0,0,0,0,0,0,1.587582
2,1.101300e+19,11013013,AL,CLARKE COUNTY,CLARKE COUNTY JAIL,GROVE HILL,36545,9.0,5.5377,199,...,0,0,0,0,0,0,0,0,1,5.768438
3,1.101600e+19,11016016,AL,COFFEE COUNTY,COFFEE COUNTY JAIL,NEW BROCKTON,36351,8.0,2.7519,119,...,0,0,0,0,0,0,0,0,1,3.017434
4,1.101900e+19,11019019,AL,COOSA COUNTY,COOSA COUNTY JAIL,ROCKFORD,35136,9.0,5.5377,39,...,0,0,0,0,0,0,0,0,1,5.768438

In [59]:
for col in data14.columns: 
    print(col)

FACLID
JURDID
STATE
COUNTY
FACILITY
CITY
ZIPP
STRATUMNEW
WEIGHT
CONFPOP
CONFPOPF
NCONPOP
NCONPOPF
TOTPOP
TOTPOPF
NONCITZ
NONCITZF
WEEK
WEEKN
WEEKF
ADULTM
ADULTMF
ADULTF
ADULTFF
JUVM
JUVMF
JUVF
JUVFF
TOTGENDER
TOTGENDERF
ADLTJUV
ADLTJUVF
CONV
CONVF
CONVUNSENT
CONVUNSENTF
CONVSENT
CONVSENTF
UNCONV
UNCONVF
UNCONVTRIAL
UNCONVTRIALF
UNCONVHOLD
UNCONVHOLDF
UNCONVOTHER
UNCONVOTHERF
S2QII3C
S2QII3CF
WHITE
WHITEF
BLACK
BLACKF
HISP
HISPF
AIAN
AIANF
ASIAN
ASIANF
NHOPI
NHOPIF
TWORACE
TWORACEF
OTHERRACESPEC
OTHERRACE
OTHERRACEF
RACEDK
RACEDKF
RACETOTAL
RACETOTALF
MARSHALS
MARSHALSF
BOP
BOPF
ICE
ICEF
BIA
BIAF
S2QII5ASPEC
S2QII5A
S2QII5AF
INSTATEPRIS
INSTATEPRISF
OUTSTATEPRIS
OUTSTATEPRISF
INSTATEJAIL
INSTATEJAILF
OUTSTATEJAIL
OUTSTATEJAILF
S2QII5D
S2QII5DF
PEAKDATE
PEAKPOP
PEAKPOPF
ADP
ADPF
RATED
RATEDF
OPERATION
OPERATIONF
DESIGN
DESIGNF
ADMIS
ADMISF
RELEASE
RELEASEF
CONVII10A
CONVII10AF
UNCONVII10A
UNCONVII10AF
CONVII10B
CONVII10BF
UNCONVII10B
UNCONVII10BF
CONVII10C
CONVII10CF
UNCONVII10C
UNCONVII10CF
CONVII10D
CONVII10DF
UNCONVII10D
UNCONVII10DF
CONVII10E
CONVII10EF
UNCONVII10E
UNCONVII10EF
CONVII10F
CONVFII10F
UNCONVII10F
UNCONVII10FF
S2II10GCONV
S2II10GCONVF
S2II10GFUNCONV
S2II10GFUNCONVF
EMONITOR
EMONITORF
HOMEDETN
HOMEDETNF
COMMSRV
COMMSRVF
DAYREPORT
DAYREPORTF
PRETRIAL
PRETRIALF
ALTWORK
ALTWORKF
TREATMENT
TREATMENTF
OTRNONCONFS
OTRNONCONF
OTRNONCONFF
NONCONFD
NONCONFDF
ADMLNCNF
ADMLNCNFF
ADFMNCNF
ADFMNCNFF
JVMLNCNF
JVMLNCNFF
JVFMNCNF
JVFMNCNFF
NCNFGNDR
NCNFGNDRF
CONVNCNF
CONVNCNFF
UNCNVNCF
UNCNVNCFF
TOTCNVST
TOTCNVSTF
CORRSTAFF
CORRSTAFFF
OTHERSTAFF
OTHERSTAFFF
S4QIV1C
S4QIV1CF
ASSAULTSTAFFYN
ASSAULTCORR
ASSAULTCORRF
ASSAULTOTRSTAFF
ASSAULTOTRSTAFFF
DEATHSTAFFYN
DEATHCORR
DEATHCORRF
DEATHOTRSTAFF
DEATHOTRSTAFFF
PHYSASSAULT
PHYSASSAULTF
DRUGVIO
DRUGVIOF
ALCOVIO
ALCOVIOF
WEAPON
WEAPONF
STOLENPROP
STOLENPROPF
ESCAPE
ESCAPEF
OTHERMAJVIO
OTHERMAJVIOF
NONCON2
BJSW

In [61]:
data2014 = data14[['STATE','COUNTY','FACLID','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','TOTGENDER','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE']]

In [62]:
data2014.head()

,STATE,COUNTY,FACLID,CONFPOP,ADULTM,ADULTF,JUVM,JUVF,TOTGENDER,WHITE,BLACK,HISP,AIAN,ASIAN,NHOPI,TWORACE,OTHERRACE
0,AL,CHEROKEE COUNTY,1.101000e+19,120,102,18,0,0,120,109,9,2,0,0,0,0,0
1,AL,CHILTON COUNTY,1.101100e+19,158,121,36,1,0,158,126,28,4,0,0,0,0,0
2,AL,CLARKE COUNTY,1.101300e+19,199,191,6,2,0,199,76,123,0,0,0,0,0,0
3,AL,COFFEE COUNTY,1.101600e+19,119,102,16,1,0,119,47,69,3,0,0,0,0,0
4,AL,COOSA COUNTY,1.101900e+19,39,31,8,0,0,39,27,12,0,0,0,0,0,0

In [63]:
data2014['YEAR'] = '2014'

/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
data2014.head()

,STATE,COUNTY,FACLID,CONFPOP,ADULTM,ADULTF,JUVM,JUVF,TOTGENDER,WHITE,BLACK,HISP,AIAN,ASIAN,NHOPI,TWORACE,OTHERRACE,YEAR
0,AL,CHEROKEE COUNTY,1.101000e+19,120,102,18,0,0,120,109,9,2,0,0,0,0,0,2014
1,AL,CHILTON COUNTY,1.101100e+19,158,121,36,1,0,158,126,28,4,0,0,0,0,0,2014
2,AL,CLARKE COUNTY,1.101300e+19,199,191,6,2,0,199,76,123,0,0,0,0,0,0,2014
3,AL,COFFEE COUNTY,1.101600e+19,119,102,16,1,0,119,47,69,3,0,0,0,0,0,2014
4,AL,COOSA COUNTY,1.101900e+19,39,31,8,0,0,39,27,12,0,0,0,0,0,0,2014

# Vince Code Starts Here

In [5]:
data15_csv = "data/2015.csv"
data15 = pd.read_csv(data15_csv, encoding="utf-8", low_memory=False)

In [6]:
data15 = data15[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [9]:
data15 = data15.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
    
}) 

data15.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,1,Baldwin County,Baldwin County Sheriff's Office,456,394,62,0,0,329,53,67,2,5,0,0,0,2015
1,1,Bibb County,Bibb County Sheriffs Department,85,73,12,0,0,61,24,0,0,0,0,0,0,2015
2,1,Cleburne County,Cleburne County Sheriffs Office,59,49,10,0,0,48,9,2,0,0,0,0,0,2015
3,1,Cullman County,Cullman County Sheriffs Office,325,260,65,0,0,266,37,19,0,1,0,2,0,2015
4,1,Etowah County,Etowah County Sheriffs Office,634,566,66,2,0,289,150,80,0,10,0,52,0,2015

In [10]:
data16_csv = "data/2016.csv"
data16 = pd.read_csv(data16_csv, encoding="utf-8", low_memory=False)

In [11]:
data16 = data16[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [12]:
data16 = data16.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
    
}) 

data16.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,1,BALDWIN COUNTY,BALDWIN COUNTY SHERIFF'S OFFICE,466,382,80,4,0,311,133,20,0,2,0,0,0,2016
1,1,BIBB COUNTY,BIBB COUNTY SHERIFFS DEPARTMENT,69,61,8,0,0,52,13,4,0,0,0,0,0,2016
2,1,CLEBURNE COUNTY,CLEBURNE COUNTY SHERIFFS OFFICE,50,41,9,0,0,41,7,2,0,0,0,0,0,2016
3,1,CULLMAN COUNTY,CULLMAN COUNTY SHERIFFS OFFICE,307,246,61,0,0,252,30,25,0,0,0,0,0,2016
4,1,ETOWAH COUNTY,ETOWAH COUNTY SHERIFFS OFFICE,686,598,88,0,0,273,197,95,0,15,0,53,0,2016

In [13]:
data17_csv = "data/2017.csv"
data17 = pd.read_csv(data17_csv, encoding="utf-8", low_memory=False)

In [14]:
data17 = data17[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [18]:
data17 = data17.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
    
}) 

data17.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,1,BALDWIN COUNTY,BALDWIN COUNTY SHERIFF'S OFFICE,533,441,92,0,0,351,143,31,0,8,0,0,0,2017
1,1,BIBB COUNTY,BIBB COUNTY SHERIFFS DEPARTMENT,69,60,9,0,0,45,24,0,0,0,0,0,0,2017
2,1,CLEBURNE COUNTY,CLEBURNE COUNTY SHERIFFS OFFICE,77,64,13,0,0,62,8,7,0,0,0,0,0,2017
3,1,CULLMAN COUNTY,CULLMAN COUNTY SHERIFFS OFFICE,322,255,67,0,0,283,27,12,0,0,0,0,0,2017
4,1,FAYETTE COUNTY,FAYETTE COUNTY SHERIFFS OFFICE,74,56,18,0,0,39,33,1,0,0,1,0,0,2017

In [16]:
data18_csv = "data/2018.csv"
data18 = pd.read_csv(data18_csv, encoding="utf-8", low_memory=False)

In [17]:
data18 = data18[['STATE','COUNTY','NAME','CONFPOP','ADULTM','ADULTF',
                   'JUVM','JUVF','TOTGENDER','WHITE','BLACK',
                   'HISP','AIAN','ASIAN','NHOPI','TWORACE','OTHERRACE','YEAR']]

In [19]:
data18 = data18.rename(columns = {'STATE' : 'state', 'COUNTY':'county', 'NAME' : 'facility_name', 'CONFPOP' : 'confined_population', 
                         'ADULTM' : 'adult_male', 'ADULTF' : 'adult_female', 'JUVM' : 'juvenile_male',
                         'JUVF' : 'juvenile_female', 'WHITE' : 'white_population', 'BLACK' : 'black_population', 
                         'HISP' : 'hispanic_population', 'AIAN' : 'native_american_population', 'ASIAN' : 'asian_population',
                         'NHOPI' : 'native_hawiian_pacific_islander_population',
                         'TWORACE': 'two_or_more_race_population', 'OTHERRACE' : 'other_population', 'YEAR' : 'year'
    
}) 

data18.head()

,state,county,facility_name,confined_population,adult_male,adult_female,juvenile_male,juvenile_female,TOTGENDER,white_population,black_population,hispanic_population,native_american_population,asian_population,native_hawiian_pacific_islander_population,two_or_more_race_population,other_population,year
0,1,BALDWIN COUNTY,BALDWIN COUNTY SHERIFFS OFFICE,577,479,98,0,0,577,398,144,29,0,0,0,0,6,2018
1,1,BIBB COUNTY,BIBB COUNTY SHERIFFS DEPARTMENT,83,68,15,0,0,83,64,18,1,0,0,0,0,0,2018
2,1,CLEBURNE COUNTY,CLEBURNE COUNTY SHERIFFS OFFICE,64,56,8,0,0,64,55,7,2,0,0,0,0,0,2018
3,1,CULLMAN COUNTY,CULLMAN COUNTY SHERIFFS OFFICE,350,284,66,0,0,350,294,31,20,0,0,0,3,2,2018
4,1,ETOWAH COUNTY,ETOWAH COUNTY SHERIFFS OFFICE,924,788,132,4,0,924,452,267,110,0,20,0,40,20,2018